.image-to-show {
	width: 400px;
	height: 400px;
}

.images-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.hidden {
	display: none;
}

.buttons {
	padding: 20px;
	display: flex;
    justify-content: center;
}
#btn-stop, 
#btn-start {
	margin: 30px;
	width: 170px;
	height: 40px;
}

.fade-in {
	animation: fadeIn ease .5s;
}

@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

